.container{
background-color: black;
width: 100vw;
 height: 60vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.content-holder1{
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 10px;
}
.fild{
display: flex;
gap: 5px;
justify-content: center;
align-items: center;
}
.fild2{
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.input1{
  border: none;
  border-radius: 8px;
  height:100%;
  font-size: 1.25rem;
  width: 100%;
  padding-left: 10px;
  }
  input{
  margin-bottom: 2px;
  cursor: pointer;
  }
  input:focus{
      outline: none;
  }

